<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "best_cocktail_dsgaq0", width: 1500, height: 2250, crop: :fill %>');">
  <div class="banner-top">
    <div class="container">
      <h1>Best cocktails in the world</h1>
      <p>No joke</p>
    </div>
      <i class="fas fa-hand-point-down"></i>
  </div>

  <div class="banner-btm">
    <%= link_to "Add a mirific cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>

</div>

