<div class="container d-flex justify-content-center">
  <div class="row test">
    <div class="form col-12">
      <h1>Add an ingredient</h1>

        <%= simple_form_for [ @cocktail, @dose ] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>

    </div>
  </div>
</div>
